.cart{
    padding: 30px;
}
.title-cart{
    padding: 20px 0;
}
.cart .item-cart{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid rgb(42, 42, 42);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    font-weight: bold;
}
.img-item-cart{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, .8)
    );
}
.delete-item-cart{
    margin: 20px;
    background-color: black;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.delete-item-cart:hover{
    cursor: pointer;
}
.info-cart{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.text-info-cart{
    padding: 10px 0;
    font-weight: bold;
}
.button-delete-cart{
    margin: 20px;
    background-color: black;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.button-delete-cart:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}
.empty-cart{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.button-home-empty-cart{
    margin: 20px;
    background-color: black;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.button-continue{
    margin: 20px;
    background-color: black;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}